


/************************ Lubricentro **********************/


.main-lubri {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.section-dos {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}




