.main-ubicacion {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
      
   
   
    background-color: white;

  }

  
     h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
  }
  
    p {
    margin-top: 10px;
  }
  
    h3 {
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
  }
  
    iframe {
    width: 50%;
    height: 50%;
  }
  

  .section-ubicacion {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    margin-top: 15px;
  }
  
