@import "estilosGenerales";
@import "index";
@import "servicompras";
@import "ubicacion";
@import "lubricentro";
@import "consultas";
@import "acercaDe";
@import "mediaQueries";


.container-div {
    text-decoration: none;
    border: none;
}

.div-principal {
    border: none;
}

.navbar-light .navbar-nav .nav-link {
    color: #0d6efd;
}

.img-nav {
    width: 100px;
}


































