* {
    margin: 0%;
    padding: 0%;
}

/* body {
    background-image: url(./Favcon/Imagenes/background.jpg);
    background-repeat: no-repeat;
    width: 100%;
} */

/* Header */

header {
    background: rgb(9,6,57);
    background: linear-gradient(0deg, rgba(9,6,57,1) 29%, rgba(0,21,240,1) 79%);
}



 header nav  {
    background-color: white;
    text-decoration: none;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: bold;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

}

.container-div {
    text-decoration: none;
}

.img-nav {
    width: 100px;
}

h1
    {color: #0000ff;
    font: 90px;}



nav a {
    color: black;
    text-decoration: none;
    }

header nav a:hover {
    background-color: black;
    color: white;
}

header h1 {
    color:white;
    text-shadow: 3px 1px black;


    display: flex;
    justify-content: center;
    text-decoration: double;

    margin-bottom: 20px;
}


header section {
    display: flex;
    justify-content: center;
    /* background-color: white; */
    padding: 15px;
}

header nav a {
    border: 1px solid black;

}

/* header{
    background-color: darkblue;
} */

a {
    color: aliceblue;
}

header p{
    color: white;
}

header h2{
    color: blue;
background-color: aliceblue;
display: flex;
justify-content: center;
}
header a {
    text-decoration: none;
}



/* Main Index */

.main-index {

    padding-left: 10px;
    padding-right: 10px;
}

.main-index section {

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.main-index section img {
    width: 25%;
    padding: 2rem;
    border-radius: 30%;
}



.main-index h2{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

/* Footer */

footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

footer {
    text-decoration: none;
}
footer a{
    color: lightgray;
}

footer{
    background-color: #434343;
}



/* Body */


body {
    background-color: black;
}

body{
    background-color: white;
}



/************************* ubicación ********************/



/* Main Ubicación */

.main-ubicacion {
    background-color: white;
}

.main-ubicacion h2{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
}

.main-ubicacion h3{
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
}

.main-ubicacion iframe {
    width: 50%;
    height: 50%;
}

.main-ubicacion section{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.main-ubicacion{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.main-ubicacion img {
    width: 70%;
}




/********************* Servicompras ***************/


 /* .section-servi {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    justify-items: center;
   /*  align-items: center; */


/* .section-servi img {
    width: 450 px;
    height: 600px;
}  */


.section-servi {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 10px;
  justify-items: center;
  margin: 10px 5px;
  align-items: center;
  
}

.section-servi img {
  width: 80%;
  height: 60%;
  border-radius: 20%;
  
}

.main-servi {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    
}

.main-servi h2 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

}

.main-servi p {
    margin-bottom: 15px;

}




/************************ Lubricentro **********************/


.main-lubri {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.section-dos {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}



























/************************ Acerca De ******************************/

.main-acerca {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.main-acerca h2 {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 20px;
}

.main-acerca section {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
}

.main-acerca section img {
    width: 300px;
    
}

.main-acerca p {
    margin-top: 10px;
}













@media screen and (max-width: 520px){
header nav {
    justify-content: space-evenly;
}

.main-index section {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

section img {
    width: 70%;
}



.section-servi {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);

}
.section-servi img {
    width: 70%;
}
.main-index img {
    padding: 3px;
}
}





.main-acerca img {
    width: 30%;
}










@media screen and (max-width: 460px){
    header nav {
    flex-flow: column wrap;
}


.main-index h2 {
font-size: 130%;
}

.section-servi {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);

}
.section-servi img {
    width: 65%;

}
.main-index section {
flex-flow: column wrap;
justify-content: center;
align-items: center;
}

.main-index img {
    width: 65%;
}




.main-ubicacion img {
    width: 50%;
}

.main-ubicacion iframe {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 50%;
}



.section-uno img {
    width: 50%;
}

.main-lubri section {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.section-dos img {
    width: 50%;
}







.main-acerca section img {
    width: 50%;
    height: 70%;
}




}
