



/* Main Index */

.main-index {

    padding-left: 10px;
    padding-right: 10px;
}

.main-index section {@extend %disposicion;}

/* .main-index section img {
    width: 100%;

    padding: 2rem;
    /* border-radius: 30%; */
/* } */ 



.main-index h2{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}